<h1>Lista de Productos</h1>

<div id="products-box">
    <p>No hay productos disponibles.</p>
</div>

<h1>Agregar Producto</h1>
<div id="containerForm">
    <form id="productForm" class="addproductFrom">
        <div id="containerFormElement">
            <div class="form-row">
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" placeholder="Ingrese el título" required>
            </div>

            <div class="form-row">
                <label for="description">Descripción:</label>
                <input type="text" id="description" name="description" placeholder="Ingrese la descripción" required>
            </div>

            <div class="form-row">
                <label for="code">Código:</label>
                <input type="text" id="code" name="code" placeholder="Ingrese el código" required>
            </div>

            <div class="form-row">
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" placeholder="Ingrese el precio" step="0.01" required>
            </div>

            <div class="form-row">
                <label for="status">Estado:</label>
                <select id="productStatus" name="status" required>
                    <option value="available">Disponible</option>
                    <option value="unavailable">No disponible</option>
                </select>
            </div>

            <div class="form-row">
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" placeholder="Ingrese el stock" required>
            </div>

            <div class="form-row">
                <label for="category">Categoría:</label>
                <input type="text" id="category" name="category" placeholder="Ingrese la categoría" required>
            </div>

            <div class="form-row">
                <label for="thumbnails">Imágenes:</label>
                <input type="text" id="thumbnails" name="thumbnails" placeholder="Ingrese URL de miniaturas" required>
            </div>

            <div class="form-row-button">
                <button type="submit">Agregar</button>
            </div>
        </div>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>